
.form-control{
  border-radius: 5px;
  width: 300px;
  margin: 10px;
}

.tab{
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman";
}
.cart{
  position:absolute;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
}
