<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">


      <div class="card col-md-3 " >
        <img src="{{item.thumbnail}}" style="margin-left: 15px; size: auto" alt="" >
        <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch">{{item.name}}</h5>
        <p>{{item.description}}</p>
        <p><strong>Price : </strong>${{item.unitPrice}}</p>
        <button class="btn btn-danger mat-raised-button" (click)="deleteItem(item.id)">Delete</button>
      </div>
    </ng-container>
  </div>
</div>
